# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
.venv/
.venv312/
venv/
ENV/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
